 *{
    font-family: Segoe UI;
 }
    #cart{
        position: relative;
        
    }
    .notifications{
        position: absolute;
        top:0px;
        right: 0px;
        background-color: rgb(254, 103, 103);
        height: 20px;
        width: 20px;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        font-size: 15px;
        color: white;
    }
    header{
        position:sticky;
        top:0px;
        z-index: 1;
        background-color: white;
    }
    article{
        background-color: black;
        color: white;
        height: 60px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .bi-lightning-fill{
        color: gold;
    }
    #pic-1{
        background-image: url(../public/images/women.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
     
    }
    .women{
        color: white;
        font-weight: bold;
        padding-top: 40px;
        font-size: 40px;

    }
    #pic-2{
        background-image: url(../public/images/men.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .men{
        color: white;
        font-weight: bold;
        padding-top: 40px;
        font-size: 40px;

        
    }
    #pic-3{
        background-image: url(../public/images/kids.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .kids{

        color: white;
        font-weight: bold;
        padding-top: 40px;
        font-size: 40px;
     

    }
    #row-1{
        height: 500px;
    }
   img{
    transition: opacity 0.1s ease;
   }
   img:hover{
    opacity: 0.8;
   }
   button{
    background-color: white;
    border-radius: none;
    padding: 10px;
    border: none;
    font-size: 20px;
   }
   .bi-airplane,.bi-shuffle,.bi-lock,.bi-tag{
    color: rgb(241, 68, 68);
    font-size: 20px;
   }
   #pic-1:hover,#pic-2:hover,#pic-3:hover{
    opacity: 0.8;
   }
   .bi-chevron-right{
    display: inline-block;
    transition: 1s;
   }
   #pic-1:hover .bi-chevron-right,#pic-2:hover .bi-chevron-right,#pic-3:hover .bi-chevron-right{
    transform: translateX(5px);
    transition: 1s;
   }
  
  #left-1{
    background-image: url(../public/images/bag.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(10px);
    transition: 500ms;
    overflow: hidden;
   }
   .bi-arrow-right{
    display: inline-block;
    transition: 1s;

   }
   #left-1:hover .bi-arrow-right{
    transform: translateX(5px);
    transition: 1s;
   }
 #right-1{
    background-image: url(../public/images/men-dress.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(5px);
    transition: 500ms;
    overflow: hidden;

   }
   #pics-1{
    justify-content: space-between;
   }
   #left-11{
    overflow: hidden;
    transition: 500ms;
   }
   #left-11:hover #left-1 {
    transform: translateX(0px);
    transition: 500ms;
    overflow: hidden;
   }
   #right-11:hover #right-1 {
    transform: translateX(0px);
    transition: 500ms;
    overflow: hidden;
   }
   #right-1:hover .bi-arrow-right{
    transform: translateX(5px);
    transition: 1s;
   }
   #left-2{
    background-image: url(../public/images/women-dress.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(5px);
    transition: 500ms;
   }
   #right-2{
    background-image: url(../public/images/men-sweat.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(5px);
    transition: 500ms;
   }

   #left-22{
    overflow: hidden;
    transition: 500ms;
   }
   #left-22:hover #left-2 {
    transform: translateX(0px);
    transition: 500ms;
    overflow: hidden;
   }
   #right-22:hover #right-2 {
    transform: translateX(0px);
    transition: 500ms;
    overflow: hidden;
   }
   #right-2:hover .bi-arrow-right{
    transform: translateX(5px);
    transition: 1s;
   }
   #right-2:hover .bi-arrow-right{
    transform: translateX(5px);
    transition: 1s;
   }
   #left-2:hover .bi-arrow-right{
    transform: translateX(5px);
    transition: 1s;
   }
   #row-4{
    color: black;
    overflow: hidden;
   }
   .nav-tabs .nav-link {
    background-color: transparent;
    border: none;
    color: black; 
    padding: 0; 
    margin: 0; 
  }

  .nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 2px solid #d63333; 
    color: black; 
  }
  #row-5 {
    background-size: cover;
    background-image: url(../public/images/shopper-banner.jpg);
    height: 500px;

    
  }
  #clock{
    font-family: monospace;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
#clock-container{
    background-color: rgba(255, 255, 255, 0.104);
}
.custom-col{
    width: 20%;
    
}
footer{
    background-color: rgb(31, 31, 31);
    color: white;
    margin-top: 40px;
    margin-left: -40px;
}
.bi{
    font-size: 20px;
    margin-right: 10px;
}
input[type=email]{
    background-color: rgb(48, 48, 48);
    height: 52px;
}
#row-8 button{
    background-color: rgb(76, 76, 76);
}
body:hover{
    cursor: pointer;
}
